@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans/OpenSans-VF.ttf') format('truetype');
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Italic-VF.ttf') format('truetype');
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: italic;
}
