@mixin panelscreen($screen) {
  #app.#{$screen} {
    .sections {
      font-size: #{(100 / 1280 * 14)}vw;

      .content {
        display: flex;
        flex: 1 0 0;
        padding: 1.5em;

        .panels {
          display: flex;
          flex: 1 0 0;
          flex-wrap: wrap;

          .panel {
            width: 100%;
            height: 100%;
            border-width: 0.1em;

            .label {
              font-size: 0.6em;
              padding: 0.25em;
            }
          }
        }
      }

      .preview {
        display: flex;
        flex-wrap: nowrap;
        background-color: var(--sub-bg-color);
        padding: 1em;

        .image-container {
          position: relative;
          width: 10em;
          height: 13em;
          border: 0.1em solid var(--border-color);
          overflow: hidden;

          .image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
