@use "../../components/panels/panelscreen";

@include panelscreen.panelscreen(main);

#app.main {
  .sections .content .panels .panel.empty {
    background: none;
    border-style: dashed;
    border-width: 0.5em;
  }
}
